<div class="container" style="padding: 1em 0 1em 0">
    <h1 style="text-align: center">Request Manager</h1>
    <div class="row">
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: #EE6E73">description</i>
                <p>Submit Request</p>
                <p class="light center">Submit Request of Customer</p>
            </div>
        </div>
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: skyblue">remove_red_eye</i>
                <p>View Requests</p>
                <p class="light center">Get all submitted requests</p>
            </div>
        </div>
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: dimgray">search</i>
                <p>Filter Request</p>
                <p class="light center">Filter requests based on different fields (Not implemented)</p>
            </div>
        </div>
    </div>
</div>