<header>
    <nav>
        <div class="container nav-wrapper">
            <a href="{% url 'RequestManager:home' %}" class="brand-logo">Request Manager</a>
            <a href={% url 'RequestManager:about' %}>About</a>
            <ul id="nav-mobile" class="right">
                <li><a href={% url 'RequestManager:new_request' %}>Submit Request</a></li>
                <li><a href={% url 'RequestManager:all_requests' 1%}>View Request</a></li>
                {% if user.is_authenticated %}
                    <li><a href={% url 'Logout' %}>Logout</a></li>
                {% else %}
                    <li><a href={% url 'Login' %}>Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>