{% load filter %}
<div class="card blue-grey darken-1">
    <div class="card-content white-text" style="height: 150px; overflow-y: scroll">
        <span class="card-title">{{ item.client.client_name }} - Priority: {{ item.client_priority }}</span>
            <p>Product Area: {{ item|get_product_area_str }}</p>
            <div style="white-space: pre-line">Description:<br/>{{ item.description }}</div>
        </div>
    <div class="card-action">
      <a href="{% url 'RequestManager:detail' item.id %}">View Detail</a>
    </div>
</div>