<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
{%  include "base/headData.html" %}

<body>
{% include "base/NavBar.html" %}

<main>
    <h1 style="text-align: center">Submit New Request</h1>
    <div style="padding: 20px">
        {% crispy form form.helper %}
    </div>
    <div style="float: right;">
        <a class="btn-floating btn-large waves-effect waves-light red" href={% url 'RequestManager:home' %}>
            <i class="material-icons">close</i></a>
    </div>

</main>

{% include "base/footer.html" %}
<script>
    $(document).ready(function(){
        $('select').formSelect();
        $('.datepicker').datepicker();
    });
</script>
