<!DOCTYPE html>
{% load static %}
<html lang="en">
{%  include "base/headData.html" %}

<body>
{% include "base/NavBar.html" %}
<main>
    {% if status_message %}
        <h5 class="green-text accent-3" style="text-align: center; margin-bottom: 20px">
            <strong>{{ status_message }}</strong>
        </h5>
    {% elif error_message %}
        <h5 class="red-text darken-1" style="text-align: center; margin-bottom: 20px">
            <strong>{{ error_message }}</strong>
        </h5>
    {% endif %}
    {%  include "base/intro.html" %}
</main>

{%  include 'base/footer.html' %}

</body>
</html>